<html>

<head>
    <title>TP Trade Offer</title>
</head>

<body>
    <h3>Trade offer for {{user.email}}'s post on TpTrader</h3>
    <p>Hi {{responderEmail}},</p>
    <p>
        Your recent trade offer on {{user.email}}'s post has been accepted! Please contact them via email as soon as possible, before someone else get's the goods!
    </p>
    <a href="{{tradeAcceptanceURL}}">{{tradeAcceptanceURL}}</a>
    <p>
        <small>Powered by <a href="">TpTrader</a></small>
    </p>
</body>

</html>